# LOGICAL OPERATORS
 
     AND
     OR   
     NOT NULL

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="123456789"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002D990614B80>

In [6]:
mydb = mysql.connector.connect(
  host="localhost",
  user= "root",
  password="123456789",
  database="database1"
)

mycursor = mydb.cursor()

In [3]:
sql = "SELECT * FROM school WHERE gender = 'Female' AND marks > 50 AND student_id > 10657515"

mycursor.execute(sql)
mycursor.fetchall()

[]

In [5]:
sql = "SELECT student_id, gender, marks FROM school WHERE marks > 50 OR gender = 'Female'"

mycursor.execute(sql)
mycursor.fetchall()

[(10657502, 'Male', 100),
 (10657503, 'Female', 36),
 (10657504, 'Female', 37),
 (10657508, 'Male', 55),
 (10657509, 'Female', 66),
 (10657510, 'Female', 77),
 (10657511, 'Male', 85)]

In [9]:
sql = "SELECT student_id, marks FROM school WHERE marks IS NOT NULL"
mycursor.execute(sql)
mycursor.fetchall()

[(10657501, 45),
 (10657502, 100),
 (10657503, 36),
 (10657504, 37),
 (10657505, 38),
 (10657506, 39),
 (10657508, 55),
 (10657509, 66),
 (10657510, 77),
 (10657511, 85)]