In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="123456789"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000018149E1FA00>

In [5]:
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('database1',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [8]:
mydb = mysql.connector.connect(
  host="localhost",
  user= "root",
  password="123456789",
  database="database1"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE school (gender VARCHAR(6),student_id INTEGER(10),marks INTEGER(3))")

In [10]:
mydb = mysql.connector.connect(
  host="localhost",
  user= "root",
  password="123456789",
  database="database1"
)

mycursor = mydb.cursor()

mycursor.execute ("SHOW TABLES")

for x in mycursor:
    print(x)

('school',)

In [11]:
mydb = mysql.connector.connect(
  host="localhost",
  user= "root",
  password="123456789",
  database="database1"
)

mycursor = mydb.cursor()

sql = "INSERT INTO school (gender , student_id, marks) VALUES ('Male',10657501,45)"

mycursor.execute(sql)
mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [12]:
mydb = mysql.connector.connect(
  host="localhost",
  user= "root",
  password="123456789",
  database="database1"
)

mycursor = mydb.cursor()

sql = "INSERT INTO school (gender , student_id,marks) VALUES('Male',10657502,35),('Female',10657503,36),('Female',10657504,37),('Male',10657505,38),('Male',10657506,39)"

mycursor.execute(sql)
mydb.commit()

print(mycursor.rowcount,"record inserted.")

5 record inserted.

Another way to inserting records

In [23]:
sql = "INSERT INTO school (gender, student_id,marks) VALUES (%s, %s, %s)"

val = ("Male", 10657508,55),('Female',10657509,66),("Female",10657510,77),('Male',10657511,85)

mycursor.executemany(sql, val)
mydb.commit() 
print(mycursor.rowcount,"record inserted.")

4 record inserted.

In [2]:
import mysql.connector


mydb = mysql.connector.connect(
  host="localhost",
  user= "root",
  password="123456789",
  database="database1"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM school")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Male', 10657501, 45)
('Male', 10657502, 35)
('Female', 10657503, 36)
('Female', 10657504, 37)
('Male', 10657505, 38)
('Male', 10657506, 39)
('Male', 10657508, 55)
('Female', 10657509, 66)
('Female', 10657510, 77)
('Male', 10657511, 85)

In [3]:
 mydb = mysql.connector.connect(
  host="localhost",
  user= "root",
  password="123456789",
  database="database1"
)

mycursor = mydb.cursor()

sql = "SELECT DISTINCT * FROM school WHERE student_id = 10657503"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Female', 10657503, 36)

In [12]:
sql = "SELECT * FROM school ORDER BY marks"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Male', 10657502, 35)
('Female', 10657503, 36)
('Female', 10657504, 37)
('Male', 10657505, 38)
('Male', 10657506, 39)
('Male', 10657501, 45)
('Male', 10657508, 55)
('Female', 10657509, 66)
('Female', 10657510, 77)
('Male', 10657511, 85)

GROUP BY

In [13]:
sql = "SELECT COUNT(student_id) , gender from school GROUP BY gender"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(6, 'Male')
(4, 'Female')

HAVING CLAUSE

In [15]:
sql = "SELECT COUNT(gender), AVG(marks),gender from school GROUP BY gender HAVING COUNT(gender) > 4"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    
    print(x)

(6, Decimal('49.5000'), 'Male')