# IN

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="123456789"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001FF5BE14B80>

In [6]:
mydb = mysql.connector.connect(
  host="localhost",
  user= "root",
  password="123456789",
  database="database1"
)

mycursor = mydb.cursor()

sql = "SELECT studenT_id, marks, gender FROM school WHERE marks IN (36,37,44,80,90)"

mycursor.execute(sql)
mycursor.fetchall()

[(10657503, 36, 'Female'), (10657504, 37, 'Female')]

# BETWEEN

In [7]:
sql = "SELECT studenT_id, marks, gender FROM school WHERE marks BETWEEN 60 AND 90"

mycursor.execute(sql)

result = mycursor.fetchall()

for items in result:
    print(items)

(10657509, 66, 'Female')
(10657510, 77, 'Female')
(10657511, 85, 'Male')

# LIKE

In [11]:
sql = "SELECT studenT_id, marks, gender FROM school WHERE marks LIKE '50%'"

mycursor.execute(sql)

result = mycursor.fetchall()

for items in result:
    print(items)

(10657503, 36, 'Female')
(10657504, 37, 'Female')
(10657505, 38, 'Male')
(10657506, 39, 'Male')