UPDATE TABLE

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="123456789"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000286DEBBADC0>

In [8]:
mydb = mysql.connector.connect(
  host="localhost",
  user= "root",
  password="123456789",
  database="database1"
)

mycursor = mydb.cursor()
sql = "UPDATE school SET marks = 100 WHERE student_id=10657502"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount,"record(s) affected")

1 record(s) affected

In [9]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM school")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Male', 10657501, 45)
('Male', 10657502, 100)
('Female', 10657503, 36)
('Female', 10657504, 37)
('Male', 10657505, 38)
('Male', 10657506, 39)
('Male', 10657508, 55)
('Female', 10657509, 66)
('Female', 10657510, 77)
('Male', 10657511, 85)

LIMIT

In [10]:
mydb = mysql.connector.connect(
  host="localhost",
  user= "root",
  password="123456789",
  database="database1"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM school LIMIT 2,5"

mycursor.execute(sql)

mycursor.fetchall()

[('Female', 10657503, 36),
 ('Female', 10657504, 37),
 ('Male', 10657505, 38),
 ('Male', 10657506, 39),
 ('Male', 10657508, 55)]